{% extends "base.html" %}

{%block title %}Index{% endblock %}

{% block main %}

<table border="1">
  {% for key, value in result.items() %}
  <tr>
    <th>
      {{key}}
    </th>
    <td>
      {{value}}
    </td>
  </tr>
  {% endfor %}
</table>

<div class="container">
  <form action="/index" METHOD="POST">
    <input type="text" placeholder="Name" name="name">
    <input type="submit" value="add name" class="btn btn-secondary">
  </form>

{% for index in index %}
    <h4>
        {{ index.name }}
    </h4>
{% endfor %}

  <div class="row">
    <div class="col">
    </div>
  </div>
</div>









{% endblock %}